<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione Voli</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Benvenuto nella Gestione Voli</h1>
        <div class="list-group mt-4">
            <a href="/visualizzavoli" class="list-group-item list-group-item-action">
                Visualizza Voli
            </a>
            <a href="/visualizzaaeroporti" class="list-group-item list-group-item-action">
                Visualizza Aeroporti
            </a>
            <a href="/visualizzacompagnie" class="list-group-item list-group-item-action">
                Visualizza Compagnie Aeree
            </a>
            <a href="/queryutente" class="list-group-item list-group-item-action">
                Esegui Query Utente
            </a>
        </div>
    </div>
</body>
</html>